/* Use flexbox to display all divs in one column in the center of the page.*/

body {
    display: flex; 
    flex-flow: column;
    align-items: center;
    border: 5px solid red;
}

div {
    height: 100px;
    width: 150px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}