/* Use flexbox to align all divs in a row. Use wrap so that the divs appear on multiple rows. Center the rows in the container*/

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div {
    height: 100px;
    width: 200px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;}