# thanks to David:
# https://stackoverflow.com/questions/42182577/is-it-possible-to-use-dotenv-in-a-react-project
# React makes variables defined in an `.env`-file available if they start with `REACT_APP_`:
REACT_APP_SERVER_BACKEND="http://localhost:3456"
