html, body {
    margin: 0;
    padding: 0;
}

.genres {
    display: flex;
    flex-flow: row wrap;
}

.box {
    flex-basis: 500px;
    height: 100px;
    flex-grow: 1;
    text-align: center;
    line-height: 100px;
    font-size: 2em;
}

.action { 
    background-color: dodgerblue; 
}

.thriller { 
    background-color: rgb(190, 178, 178); 
    flex-grow: 10;
}

.comedy { 
    background-color: rgb(255, 214, 30); 
    flex-grow: 10;
}

.horror { 
    background-color: black; 
    color: white;
}

.drama { 
    background-color: darkgrey; 
}

.romance { 
    background-color: red; 
}