* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

code {
    background-color: #eee;
    padding: 0 3px;
}

pre {
    background-color: #eee;
    border-left: 6px solid #00458b;
    margin: 0 0 1.5rem;
    padding: 1.5rem;
}