*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica;
    display: grid;
    width: 100%;
    grid-template-areas: "header header header"
                         ". main ."
                         "sec sec sec"
                         "footer footer footer";
    grid-template-rows: 100px 1fr 1fr 200px;
    grid-template-columns: 10vw 1fr 10vw ;
}


/* Header */
header {
    grid-area: header;
    background-color: #d5d5d5;

    padding: 0 10%;
}
header div img {
    height: 60px;
}
header nav a {
    color: #5d5d5d;
    font-size: 1.4rem;
    padding: 0 20px;
    line-height: 30px;
    font-weight: 200;
}
header nav a:hover {
    color: black;
    font-weight: 300;
}

/* Main */
main {
    height: 640px;
    margin: 5px 0;

    grid-area: main;
    background-color: #f5f5f5;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  100px 90px 25px 25px 100px 100px 80px;
    grid-gap: 15px;
    padding: 15px;
} 

main div {
    background: lightsalmon;
    background-size: cover;
}
.one {
    grid-area: 1/1/2/2;
    background-image: url("./images/1.jpg");
}
.two {
    grid-area: 1/2/3/3;
    background-image: url("./images/2.jpg");
}
.three {
    grid-area: 1/3/5/3;
    background-image: url("./images/3.jpg");
}
.four {
    grid-area: 1/4/4/5;
    background-image: url("./images/4.jpg");
}
.five {
    grid-area: 2/1/6/1;
    background-image: url("./images/5.jpg");
}
.six {
    grid-area: 3/2/7/3;
    background-image: url("./images/6.jpg");
}
.seven {
    grid-area: 5/3/8/3;
    background-image: url("./images/7.jpg");
}
.eight {
    grid-area: 4/4/8/4;
    background-image: url("./images/8.jpg");
}
.nine {
    grid-area: 6/1/8/2;
    background-image: url("./images/9.jpg");
}
.ten {
    grid-area: 7/2/8/3;
    background-image: url("./images/10.jpg");
}


/* Section */
section {
    grid-area: sec;
    background-color: #f5f5f5;
    width: 100%;
}
.sec-container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    /* border: 1px solid black; */

    display: grid;
    grid-template-areas: "col1 col2 col3 "
                            ". col4 col5"
                            ". . col6";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.sec-container div{
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    line-height: 200px;
    text-shadow: 2px 2px 5px black;
}
.a {
    grid-area: col1;
    background: #ff006e;
} 
.b {
    grid-area: col2;
    background: #faa307;
} 
.c {
    grid-area: col3;
    background: #deaaff;
} 
.d {
    grid-area: col4;
    background: #ffff3f;
} 
.e {
    grid-area: col5;
    background: #16db93;
} 
.f {
    grid-area: col6;
    background: #c1d3fe;
} 


/* Footer*/
footer {
    grid-area: footer;
    background-color: #505050;

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows:  150px;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: flex-end;
    align-content: center;
    padding: 20px 10%;
}  
footer .foot {
    font-size: 1.5rem;
    font-weight: 200;
    color: #f5f5f5;
    border: 2px solid #8b8b8b;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 5px white;

    display: flex;
    align-items: center;
}
