/* Use flexbox to display the divs on one row in the center of the container */

body {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    border: 5px solid red;
}

div {
    flex-shrink: 1;
    height: 100px;
    /* width: 150px;  */
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}