/* here the variable $parimaryColor doesn't exist */



// $primaryColor: tomato !default; /* here we set $primaryColor to "tomato" */

/* here $primaryColor is still "tomato" */

/* 

here we check if $primaryColor already has a value:

- if it does, we  use the existing value from above (tomato)
- otherwise, we set it to "limegreen"

*/
// $primaryColor: limegreen !default; 
.box {
  height: 100px;
  margin-bottom: 1.5rem;
  width: 100px;
}


$primaryColor: tomato !default;
.box-1 {
  background-color: $primaryColor;
}

/* 
  This variable by default will be set to "limegreen", unless
  the same variable is defined above with a different value
*/

$primaryColor: limegreen;
.box-2 {
  background-color: $primaryColor;
}