/* Use flexbox to align the divs in a row. Reverse the order of the divs. */

body {
    border: 5px solid red;
    display: flex;
    flex-flow: row-reverse;
}

div {
    height: 100px;
    width: 150px;
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}
